<div class="chat-header">
  <div class="mainroom-name">
    hogefuga
  </div>
  <div class="chat-off">
    <div class="off-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-display">
  <div class="informations">
    <div class="user-information">
    Tom
    </div>
    <div class="time">
    2020/3/31(wed) 12:43:30
    </div>
  </div>
  <div class="message">
  おはよう
  </div>
</div>

<div class="chat-footer">
  <div class="form">
    <input class="form-area" placeholder= "type a message" >
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="submit-button" type="submit" value="送信" >
</div>