<div class="user-name">
  <div class="user">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="create-room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="chat-rooms">
  <% current_user.rooms.each do |room| %>
  <div class="chat-room">
    <div class="room-name">
      <%= link_to room.name, room_messages_path(room) %>
    </div>
  </div>
  <% end %>
</div>